.form-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-input {
  width: 44%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: white !important;
  padding: 0 10px;
}


/* .form-input:focus-visible {
  border: none !important;
} */

.form-select {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: white;
}

.mt-20 {
  margin-top: 20px;
}

@media only screen and (max-width: 900px) {
  .form-input {
    width: 40%;
  }
  
}