.upload-button {
  /* height: 50px; */
  border: 1px dotted white;
  background-color: #C66BC6;
  border-radius: 5px;
  color: white;
  padding: 20px;
  cursor: pointer;
}

/* .preview-section {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.image-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: gray;
  width: 128px;
  height: 128px;
}

.arrow-right {
  position: absolute;
  right: 40%
} */