.upload-button {
  /* height: 50px; */
  border: 1px dotted white;
  background-color: #C66BC6;
  border-radius: 5px;
  color: white;
  padding: 20px;
  cursor: pointer;
}

.img-result {
  width: 200px;
  height: 300px;
}

.result-detail {
  margin: 20px 0;
}

@media only screen and (max-width: 1550px) {
  .img-result {
    width: 200px;
    height: 250px;
  }
  
}

@media only screen and (max-width: 900px) {
  .image-preview {
    width: 60px;
    height: 60px;
  }

  .arrow-right {
    width: 30px;
    height: 30px;
  }

  .question-icon {
    width: 40px;
      height: 40px;
  }

  .img-result {
    width: 200px;
    height: 200px;
  }

  .result-detail {
    margin: 5px 0;
  }
}

@media only screen and (max-width: 450px) {
  .img-result {
    width: 150px;
    height: 150px;
  }
}