.App {
  text-align: center;
  height: 100vh;
}

.form-title {
  color: #FFD708;
  font-size: 20px;
  font-weight: bold;
}

.bg-yellow {
  background-color: #FFD708;
}

.mt-10 {
  margin-top: 10px;
}

.btn-update {
  background-color: #F9D716;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

input:focus {
  outline: none;
}

input {
  font-size: 18px;
}

select:focus {
  outline: none;
}

select {
  font-size: 18px;
}